.container{
    text-align: center;
    margin: 50px;
  
    
}
table{
    margin: auto;
    
    border-radius: 5px;
}

button{
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    width: 50px;
    background-color: darkgreen;
    
}
input{
    font-size: 20px;
    border-radius: 5px;
    border: solid blue 2px;
     width: 200px;
     height: 50px;
}
.calculator{
    background-color: blueviolet;
    display: inline-block;
    border-radius: 10px;
}
